@import '~office-ui-fabric-react/dist/sass/References.scss';
@import './Main.module.scss';

:export { duration: $duration }

.panel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: $width;
    background: $white;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.4);

    &.left {
        left: -$width;
        transition: left $duration;
        border-right: 1px solid $grey;

        &.visible {
            left: 0px;
        } 
    }

    &.right {
        right: -$width;
        transition: right $duration;
        border-left: 1px solid $grey;

        &.visible {
            right: 0px;
        }
    }

    .header {
        position: relative;

        .closeButton {
            float: right;
            padding: 12px 12px 0 0;
        }

        .clear {
            clear: both;
        }
    }

    .content {
        padding: $contentPadding;

        .grid {
            @include ms-Grid;
    
            .row {
                @include ms-Grid-row;
    
                .columnFullWidth {
                    @include ms-Grid-col;
                    @include ms-sm12;
    
                    .title {
                        @include ms-font-xl;
                    }

                    .errorLabel {
                        @include ms-font-xs;
                        color: $red;
                    }

                    .buttonStack{
                        float: right;
                        margin-top: 20px;
                    }

                    .iconPicker{
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .iconPanel{
                        background-color: $themeLight;
                        margin-bottom: 5px;
                        padding: 10px 5px 10px 5px;
                        min-height: 58px;
                        text-align: center;
                        @include ms-font-su;
                        color: $themePrimary;
                    }
                }
            }
        }
    }
}