@import '~office-ui-fabric-react/dist/sass/References.scss';
@import './Main.module.scss';
@import './Animations.module.scss';

.personalTiles {

  .grid {
    @include ms-Grid;

    .row {
      @include ms-Grid-row;

      .columnFullWidth {
        @include ms-Grid-col;
        @include ms-sm12;

        .title {
          @include ms-font-xl;
        }

        .panel{
          @include ms-font-xl;
          margin-top: $marginStep;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          text-align: center;
          padding: 20px 10px 20px 10px;
          background-color: $neutralLight;
          color: $neutralSecondary;

          i {
            @include ms-font-su;
          }
        }
      }
    }
  }

  .loader {
    @include ms-font-xl;
    text-align: center;
    color: $neutralSecondary;
    margin-top: $marginStep;

    i {
      -webkit-animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;
      -ms-animation: rotating 2s linear infinite;
      -o-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
    }
  }

  .hide {
    display: none
  }

  .toolBar{
    padding: 0 $marginSize 0 $marginSize;
    background-color: $white;
  }

}