@import '~office-ui-fabric-react/dist/sass/References.scss';
@import './Main.module.scss';
@import './Animations.module.scss';

.personalTiles {

  .grid {
    @include ms-Grid;

    .row {
      @include ms-Grid-row;

      .columnFullWidth {
        @include ms-Grid-col;
        @include ms-sm12;

        .title {
          @include ms-font-xl;
        }
      }
    }
  }

  .loader {
    text-align: center;
    @include ms-font-xl;
    color: $neutralSecondary;
    margin-top: 2rem;

    i {
      -webkit-animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;
      -ms-animation: rotating 2s linear infinite;
      -o-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
    }
  }

  .hide {
    display: none
  }

  .toolBar{
    padding: 0 $marginSize 0 $marginSize;
    background-color: $white;
  }

}